<md-card layout-fill>
    <form name="ServiceRegForm">
        <md-toolbar class="md-table-toolbar">
            <h2>Pending Requests</h2>
        </md-toolbar>
        <div>
            <md-input-container flex class="md-block">
                <label>Select Service Provider</label>
                <md-select name="serviceName" ng-model="serviceName" ng-change="serviceSelected()" required>
                    <md-option ng-value="row.name" ng-repeat="row in services track by $index">{{row.name}}</md-option>
                </md-select>
            </md-input-container>

            <md-table-container>
                <table md-table class="table table-hover" ng-if="pendingRequests">
                    <thead md-head>
                        <tr md-row>
                            <th md-column><span>Transaction ID</span></th>
                            <th md-column><span>Timestamp</span></th>
                            <th md-column><span>Encrypted Data</span></th>
                            <th md-column><span></span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="request in pendingRequests track by $index">
                            <td md-cell>{{ request.transactionId }} </td>    
                            <td md-cell>{{ request.timestamp | date:'medium' }} </td>
                            <td md-cell>{{ request.encryptedData | limitTo : 50 }}....</td>
                            <td md-cell>
                                <md-button class="md-icon-button console-buttons md-small" ng-click="viewKYC(request.transactionId, request.timestamp, request.encryptedData)">
                                    <md-icon>
                                        <md-tooltip md-direction="top">View KYC Details</md-tooltip>vpn_key
                                    </md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        <md-toolbar class="footerToolbar" style="left:0; position: initial;">
            <div class="md-toolbar-tools StandardToolbar">
                <h2 flex md-truncate></h2>
                <div>
                    <md-button type="submit" ng-click="newServiceRegister()" class="md-raised" ng-disabled="ServiceRegForm.$invalid">
                        REGISTER
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </form>
</md-card>