<md-card layout-fill>
    <form name="ServiceRegForm">
        <md-toolbar class="md-table-toolbar">
            <h2>Service Provider Registration</h2>
        </md-toolbar>
        <div>
            <md-input-container class="md-block">
                <label>Service Provider Name</label>
                <input name="name" ng-model="name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Key Name</label>
                <input name="keyName" ng-model="keyName" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email</label>
                <input name="email" ng-model="email" type="email" required>
            </md-input-container>
        </div>
        <md-toolbar class="footerToolbar" style="left:0; position: initial;">
            <div class="md-toolbar-tools StandardToolbar">
                <h2 flex md-truncate></h2>
                <div>
                    <md-button type="submit" ng-click="newServiceRegister()" class="md-raised" ng-disabled="ServiceRegForm.$invalid">
                        REGISTER
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </form>
</md-card>