<md-card layout-fill>
    <form name="shareForm">
        <md-toolbar class="md-table-toolbar">
            <h2>SHARE KYC Details</h2>
        </md-toolbar>

        <div>
            <md-input-container flex class="md-block">
                <label>Select Service Provider</label>
                <md-select name="sample" ng-model="servicePubKey" required>
                    <md-option ng-value="row" ng-repeat="row in services track by $index">{{row.name}}</md-option>
                </md-select>
            </md-input-container>
            <textarea name="userPrivKey" ng-model="userPrivKey" rows="7" cols="120" placeholder="Input your private key.." required></textarea> <br><br>
            <textarea name="inputEncryptedData" ng-model="inputEncryptedData" rows="7" cols="120" placeholder="Input the encrypted data present on Blockchain.." required></textarea> <br>

        </div>
        <md-toolbar class="footerToolbar" style="left:0; position: initial;">
            <div class="md-toolbar-tools StandardToolbar">
                <h2 flex md-truncate></h2>
                <div>
                    <md-button type="submit" ng-click="shareKYCDetails()" class="md-raised" ng-disabled="shareForm.$invalid">
                        SHARE
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </form>
</md-card>